@font-face {
    font-family: "poppins";
    src: url("/assets/fonts/Poppins-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "poppins";
    src: url("/assets/fonts/Poppins-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "poppins";
    src: url("/assets/fonts/Poppins-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}
* {
    font-family: "poppins";
    margin: 0;
}
body {
    background-color: hsl(0, 0%, 86%);
}
div.main-card {
    background-color:hsl(0, 0%, 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border-bottom-right-radius: 200px;
    padding: 50px;
}
label {
    display: block;
    color: hsl(0, 1%, 44%);
    margin-bottom: 5px;
    text-transform: uppercase;
}
label.error {
    color: hsl(0, 100%, 67%);
}
div.date-inputs {
    width: 70%;
    display: flex;
    gap: 20px;
}
input {
    box-sizing: border-box;
    padding: 10px;
    font-size: 30px;
    width: 100%;
    min-width: 0;
    flex: 1;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 4px;
}
input.error {
    border: 1px solid hsl(0, 100%, 67%);
}
input.error:focus {
    border: 1px solid hsl(0, 100%, 67%);
}
input:focus {
    outline: none;
    border: 1px solid hsl(259, 100%, 65%);
}
p.error-message {
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    color: hsl(0, 100%, 67%);
    position: absolute;
    display: none;
}
div.divider-and-button {
    position: relative;
}
hr {
    margin-top: 40px;
    border: 1px solid hsl(0, 0%, 86%);
}
button.calculate-button {
    background-color: hsl(259, 100%, 65%);
    border: 1px solid hsl(259, 100%, 65%);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    right: 0;
}
button.calculate-button:hover {
    background-color: hsl(0, 0%, 8%);
    border: 1px solid hsl(0, 0%, 8%);
    cursor: pointer;
}
div.calculated-result {
    margin-top: 50px;
}
h1 span {
    font-size: 80px;
    color: hsl(259, 100%, 65%);
}
h1 {
    font-size: 100px;
    font-weight: 800;
    font-style: italic;
    line-height: 1;
}
@media screen and (max-width: 1100px){
    div.main-card {
        width: 60%;
    }
}
@media screen and (max-width: 950px){
    div.main-card {
        width: 70%;
    }
}
@media screen and (max-width: 800px){
    div.main-card {
        width: 80%;
    }
}
@media screen and (max-width: 650px){
    div.main-card {
        width: 80%;
    }
    div.date-inputs {
        width: 100%;
    }
    hr {
        margin-top: 80px;
    }
    button.calculate-button {
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button.calculate-button img {
        width: 40px;
        height: 40px;
    }
    h1 span {
        font-size: 1em;
    }
    h1 {
        font-size: 4em;
        font-weight: 800;
        font-style: italic;
        line-height: 1;
    }
}
